@import "fonts.css";
@import "animation.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --banner-width: 280px;
    --animation-time: 30s;
}


img, video {
    width: auto !important;
    max-width: unset !important;
}



.button {

    height: 28px;
    width: 100px;
    border: 1px solid #343434;
    color:  #343434;
    display: inline-block;
    cursor: pointer;
    padding: 1px 8px;
    border-radius: 3px;

    svg {

        height: 12px;
        display: inline;

        polygon.filled {
            fill:#1962AC;
            stroke: #343434;
        }

        polygon.stroked {
            fill:none;
            stroke: #343434;
        }
    }

    &:hover {
        color: red;
        background-color: #eaecf1;
        svg polygon.stroked {
            fill: red;
            stroke: red;
        }
        svg polygon.filled {
            fill: #343434;
        }
    }

}


#banner1 {

    @apply relative w-[var(--banner-width)] h-[350px] border border-gray-500 mx-auto my-10;

    overflow: hidden;

    .image-container  {
        @apply flex  h-full bg-white relative;
        width: max-content;


        img {
            @apply h-[100%] block max-w-[auto] w-auto w-auto;
            animation: image-move   var(--animation-time) infinite linear;
        }
    }

    .image-overly-box  {
        @apply h-full;
        width: max-content;

        img {
            animation: image-overly-move var(--animation-time) infinite linear;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }

    .logo  {
        @apply  absolute top-4 z-50;
        left: 0;
        animation: logo-move var(--animation-time) infinite linear;
        width: 140px;
        height: 50px;

        img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }

    }


    section.middle-text-section,
    section.bottom-section
    {
        border: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        article {
            position: absolute;
            top: 40%;
            left: 5%;
            right: 0;
        }

        article:nth-of-type(1) {
            animation: text-1-move var(--animation-time) infinite linear;
        }

        article:nth-of-type(2) {
            animation: text-2-move var(--animation-time) infinite linear;
        }

        article:nth-of-type(3) {
            animation: text-3-move var(--animation-time) infinite linear;
        }

        article:nth-of-type(4) {
            animation: text-4-move var(--animation-time) infinite linear;

        }
    }

    section.bottom-section {

        display: block;

        article {
            position: absolute;
            top: auto;
            bottom: 5%;
            left: 5%;
            right: 0;
        }
    }

    .man-picture {
        @apply absolute bottom-0;
        width: 40%;
        animation: man-picture-move var(--animation-time) infinite linear;

        img {
            @apply block;
            width: 100% !important;
            height: auto;
        }
    }

}
